:root {
  /* - Mobile: 375px
    - Desktop: 1440px */

  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dart-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  height: 100vh;
}

h1 {
  color: var(--dart-blue);
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

p {
  color: var(--grayish-blue);
  font-size: 1.1rem;
}

/* Card general styling */

.card {
  width: 375px;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Card Header - image styling */

.card__qrcode {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* Card main - description styling */

.card__text {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  text-align: center;
}
